.App {
  text-align: center;
}

.App-header {
  background-color: #f98a00;
  height: 150px;
  padding: 20px;
  color: white;
}

.gasPrices {
  max-width: 800px;
  margin: auto;
}

.loading {
  margin-top: 20px;
}

.App-intro {
  font-size: large;
}
